<!-- <h1>Graphs#home</h1> -->

  <div class="lo--main-container">

  <!--
  <p>test Chart: <%= @last7js %></p>
  <p>test Chart2: <%= @last30 %></p>
   -->

     <div class="container">
        <canvas id="myChart" data-consumptionseven="<%= @last7.to_json %>" data-consumptionthirty="<%= @last30.to_json %>" data-consumptionalltime="<%= @alltime.to_json %>"></canvas>
     </div>


    <div class="container d-flex">
      <div id="last7" class="lo--button-transp active">Last 7 days</div>
      <div id="last30" class="lo--button-transp">Last 30 days</div>
      <div id="alltime" class="lo--button-transp">From start</div>
    </div>




    <%= javascript_pack_tag 'chart' %>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your share button code -->
    <div class="fb-share-button"
      data-href="https://www.your-domain.com/your-page.html"
      data-layout="button_count">
    </div>
    <div class="savings">
      <p>Based on your initial daily consumption, since the beginning you have saved: <div class="savings-money"> <%= @money_saved.round(2) %> CAD </div> Average price of 0.75 CAD per cigarette</p>
    </div>
  </div>

<!-- <div style="margin-top: 50px">
  <div id="lifeloss" style="text-align: center">
    <p style="color: white; font-family: Poppins;" >Since you started using our app, you have lost</p>
    <h1 style="color: red; font-family: Poppins;"><%= @dayslost %> DAYS</h1>
    <p style="color: white; font-family: Poppins;">of life expectancy...</p>
    <br>
    <p style="color: white; font-family: Poppins;">Do you really want to lose more time ???</p>
  </div>
</div> -->









<script>
  document.querySelectorAll(".lo--button-transp").forEach(element => {
    element.addEventListener('click', (event) => {
      document.querySelectorAll(".lo--button-transp").forEach(el =>{
        el.classList.remove("active");
      })
      event.currentTarget.classList.add("active")

    })

  });

</script>
















