<!-- <h1>Graphs#home</h1> -->
<div class="lo--main-container">



<!--
<p>test Chart: <%= @last7js %></p>
<p>test Chart2: <%= @last30 %></p>
 -->

 <div class="container">
    <canvas id="myChart" data-consumptionseven="<%= @last7.to_json %>" data-consumptionthirty="<%= @last30.to_json %>" data-consumptionalltime="<%= @alltime.to_json %>"></canvas>
 </div>


<div class="container d-flex">
  <div id="last7" class="lo--button-transp">Last 7 days</div>
  <div id="last30" class="lo--button-transp">Last 30 days</div>
  <div id="alltime" class="lo--button-transp">From start</div>
</div>



<%= javascript_pack_tag 'chart' %>

</div>

