<div class="container" style="padding-top: 80px">
<!-- <h1>Bets#home</h1> -->
<!-- <p>Find me in app/views/bets/home.html.erb</p> -->

<div style="padding-top: 20px">
You have <%= @pendingbets.length %> pending challenge<%= @pendingbets.size == 0 ? "" : "s" %>.
</div>

<div style="padding-top: 20px">
<%= link_to "Check my challenges", bets_path %>
</div>

<div style="padding-top: 20px">
<%= link_to "Submit a challenge", new_bet_path %>
</div>

<div style="padding-top: 20px">
Your balance is : <%= @user.wallet %> CAD
</div>

<input type="number" id="wallet-money">


<div class="2-circles">

  <%= form_tag(deposits_path, method: :post) do  %>
    <div style="padding-top: 20px">
      <p>Deposit</p>
      <div class="bet-home-field-tag-lo--circle">
        <%= hidden_field_tag "user[wallet_deposit]" %>
      </div>
      <div class="bet-home-submit-btn">
        <%= submit_tag("Submit deposit") %> <!-- placeholder ?  -->
      </div>
    </div>
  <% end %>

  <%= form_tag(withdrawals_path, method: :post) do  %>
    <div style="padding-top: 20px">
      <p>Withdraw</p>
      <div class="bet-home-field-tag-lo--circle">
        <%= hidden_field_tag("user[wallet_withdraw]", 0) %>
        <%#= number_field_tag("user[wallet]", 0) %> <!-- placeholder ?  -->
      </div>
      <div class="bet-home-submit-btn">
        <%= submit_tag("Submit withdrawal") %>
      </div>
    <div>
  <% end %>
</div>


</div>

<%= javascript_pack_tag "new-wallet" %>
