<div class="lo--main-container">
<!-- <h1>Bets#home</h1> -->
<!-- <p>Find me in app/views/bets/home.html.erb</p> -->

<div  class="text-bet-home" >
You have <%= @pendingbets.length %> challenge<%= @pendingbets.size == 0 ? "" : "s" %>
</div>

<div class="text-link">
  <div class="text-link-bet-home" >
    <%= link_to bets_path do %>
      <span>Check results <i class="far fa-check-square"></i></span>
    <% end %>
  </div>

  <div class="text-link-bet-home" >
    <%= link_to "New challenge", new_bet_path %> <i class="fas fa-dumbbell"></i>
  </div>
</div>



<div class="bet-home-field-tag-lo--circle">
  <input type="number" id="wallet-money" placeholder="0" >
</div>


<div class="text2-bet-home" >
Your balance is  <%= @user.wallet %> CAD
</div>

<div class="2-btns" style="
    display: flex;
    justify-content: space-around;">
  <%= form_tag(deposits_path, method: :post) do  %>
  <%= hidden_field_tag "user[wallet_deposit]" %>
  <div class="bet-home-submit-btn">
    <%= submit_tag("Deposit") %> <!-- placeholder ?  -->
  </div>
  <% end %>

  <%= form_tag(withdrawals_path, method: :post) do  %>
  <%= hidden_field_tag("user[wallet_withdraw]", 0) %>
  <div class="bet-home-submit-btn">
    <%= submit_tag("Withdraw") %>
  </div>
  <% end %>
</div>

<%= javascript_pack_tag "new-wallet" %>
