<div class="lo--main-container">

<!-- <p>Find me in app/views/bets.index.html.erb</p> -->
    <% if @pendingbets.length == 0 %>

      <h5 class="h5-index-bet">You don't have any challenges</h5>

    <% else %>

      <h5 class="h5-index-bet">Your challenges</h5>

    <div>
      <% @pendingbets.each do |b| %>
        <% if Date.today > b.date + 7 %>
          <div class="text-bet-index">
            <div class="lo-bet-title">Bet # <%= b.id %></div>
            <div class="lo-bet-description">

              <div class="lo-bet-amount">
                <p class="title">Amount</p>
                <p class="content"><%= b.amount %> CAD</p>
              </div>

              <div class="lo-bet-goal">
                <p class="title">Goal</p>
                <p class="content"><%= b.goal %> cigarettes</p>
              </div>

            </div>
          </div>

          <div class="text-link-bet-home">
            <%= link_to "Check the result", bet_path(:id => b.id) %>
          </div>

        <% else %>
          <div class="text-bet-index">
            <div class="lo-bet-title">Bet # <%= b.id %></div>
            <div class="lo-bet-description">

              <div class="lo-bet-amount">
                <p class="title">Amount</p>
                <p class="content"><%= b.amount %> C$</p>
              </div>

              <div class="lo-bet-goal">
                <p class="title">Goal</p>
                <p class="content"><%= b.goal %> cigarettes</p>
              </div>

            </div>
          </div>
          <div class="text-link-bet-home-2">
            <p>Results available on <%= b.date + 7 %></p>
          </div>
        <% end %>

      <% end %>
    </div>

    <div class="lo--button-mauve-2">
      <%= link_to "Previous page", bets_home_path %>
    </div>

  <% end %>



</div>
