<div class="container" style="padding-top: 80px">
<h1>Challenge yourself !</h1>
<!-- <p>Find me in app/views/bets.index.html.erb</p> -->

  <% if @pendingbets.length == 0 %>

  <p>You have no pending challenges</p>

  <% else %>

    <h5>Your pending challenges:</h5>

<ul>
        <% @pendingbets.each do |b| %>
  <% if Date.today > b.date + 7 %>
<li>Bet ID <%= b.id %> - Amount : <%= b.amount %> C$ - Goal : <%= b.goal %> cigarettes - <%= link_to "Check the result", bet_path(:id => b.id) %></li>
  <% else %>
<li>Bet ID <%= b.id %> - Amount : <%= b.amount %> C$ - Goal : <%= b.goal %> cigarettes - Results available on <%= b.date + 7 %></li>
        <% end %>
      <% end %>
</ul>


    <%= link_to "Previous page", bets_home_path %>


  <% end %>



</div>
