<div class="lo--main-container">
<!-- <p>Find me in app/views/bets/new.html.erb</p> -->


<div>
    <h1 class="h1-new">It's time to challenge yourself!</h1>
</div>

  <%= simple_form_for(@bet) do |f| %>
    <div class="input-new-bet-2">
      <div class="input-new-bet">
        <%= f.input :amount, label: 'Amount', required: true %>
      </div>
      <div class="input-new-bet">
        <%= f.input :goal, label: 'Cigarette', required: true %>
      </div>
    </div>
    <div class="lo--button-white-new">
      <%= f.button :submit, "Submit"%>
    </div>
  <% end %>


<p class="p-new">
  You have <%= @user.wallet %> CAD on your balance
</p>
  <!-- redirect to index -->
  <div class="lo--button-mauve-2">
    <%= link_to "Previous page", bets_home_path %>
  </div>
</div>
