<br>
<br>
<br>
<div class="savings">
<p>Below are some indicators of your progress</p>

<p>Your daily consumption of cigarettes before using Last1 was : <%=current_user.consumptions.first.consumption_before_last_one%></p>
<p>Days of use: <%= @days_of_use %></p>
<p>Your averaged daily consumption of cigarettes since you are using Last1 is : <%= @averaged_consumption %></p>
<p>Based on your initial daily consumption, since the beginning you have saved: <%= @counter %> cigarettes</p>
<p>Based on your initial daily consumption, since the beginning you have saved: <%= @money_saved %> <i style="font-size:24px" class="fa">&#xf155;</i> (based on an average price of 0.75 CAD per cigarette)</p> 
</div>


