
<!-- <h1>Pages#home</h1> -->

<h1>MY EVOLUTION</h1>
<!--
<p>test Chart: <%= @last7js %></p>
<p>test Chart2: <%= @last30 %></p>
 -->

 <div class="container">
    <canvas id="myChart" data-consumptionseven="<%= @last7.to_json %>" data-consumptionthirty="<%= @last30.to_json %>" data-consumptionalltime="<%= @alltime.to_json %>"></canvas>
 </div>


<div class="container">
  <div id="last7" class="btn btn-ghost">Last 7 days</div>
  <div id="last30" class="btn btn-ghost">Last 30 days</div>
  <div id="alltime" class="btn btn-ghost">From start</div>
</div>




