<div class="lo--main-container">

<div class="div-for-headers">
<h1>How many cigarettes did you smoke today ?</h1>
</div>
<%= simple_form_for @consumption do |f| %>

<div class="form">

  <div class= "lo--circle">
    <%= f.input :daily_actual_consumption, label:false, input_html: { value: @default_value, class: "lo--btn-display", type: "" } %>
  </div>

  <div id="form_counters_submit">
    <div class="consumptionbtns">
      <a class="lo--button-circle" href="#" id="counter-">-</a>
      <a class="lo--button-circle" href="#" id="counter+">+</a>
    </div>
    <%= f.button :button, "Submit", class: "lo--button-white"  %>
    <% end %>

  </div>

</div>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>



<%= javascript_pack_tag 'form_incrementation' %>


</div>






