

<h1>How many cigarettes did you smoke today ?</h1>

<%= simple_form_for @consumption do |f| %>

<div class="form">

  <div class= "form_nb_cigarettes">
    <%= f.input :daily_actual_consumption, label:false, input_html: { value: @default_value, class: "btn-display", type: "" } %>
  </div>

  <div id="form_counters_submit">
    <a class="lo--button-circle" href="#" id="counter-">-</a>
    <%= f.button :button, "Submit", class: "lo--button-white"  %>
    <% end %>
    <a class="lo--button-circle" href="#" id="counter+">+</a>
  </div>

</div>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>



<%= javascript_pack_tag 'form_incrementation' %>









