<!-- app/views/offers/show.html.erb -->


<% content_for :meta_title, "Another horrible fact 111" %>
<% content_for :meta_description, @horrible_fact.fact %>
<% content_for :meta_image, @horrible_fact.photo %>


<div class="lo--main-container" >





  <div id="<%= @horrible_fact.id %>" class="main-div-hf">
    <div>
      <div class="card-fact">
        <p class="<%= @horrible_fact.id %>-fact"><%=@horrible_fact.fact%></p>
      </div>

      <div class="card-photo">
       <img class="<%= @horrible_fact.id %>-photo" src=<%=@horrible_fact.photo %> >
      </div>
    </div>

    <div class="btn-and-share">
      <div class="page-bottom">
        <p><%= link_to "Previous page", horrible_facts_path, class:"lo--button-mauve" %></p>
      </div>


      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
      <div class="fb-share-button"
        data-href="https://mylast1.herokuapp.com/"
        data-layout="button_count">
      </div>

    </div>

  </div>




</div>


<!-- Load Facebook SDK for JavaScript -->


