<% @horrible_f = @horrible_fact.first %>
<% content_for :meta_title, "This is what happens when you smoke" %>
<% content_for :meta_description, @horrible_f.fact %>
<% content_for :meta_image, @horrible_f.photo %>

<div class="lo--main-container" >

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root">
  </div>

  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
  <div class="fb-share-button"
    data-href="https://mylast1.herokuapp.com/horrible_facts/<%= @horrible_f.id %>"
    data-layout="button_count"
    style="margin-top: auto; margin-bottom: 100px; margin-left: auto;">
  </div>

    <% @horrible_fact.each do |hf| %>

      <div id="<%= hf.id %>" class="main-div-hf">

        <div class="card-fact">
          <p class="<%= hf.id %>-fact"><%= hf.fact%></p>
        </div>

        <div class="card-photo">
          <img class="<%= hf.id %>-photo" src=<%= hf.photo %> >
        </div>

      </div>

    <% end %>
    
  </div>
</div>

